.fixed-size {
    resize: none;
    width: 60%;
    min-height: 60vh;
    margin: 0 auto;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;

}


.form-group {
    padding-top: 12vh;
    position: relative;
}

.submit-button{
    position: absolute;
    top: calc(100% + 30px);
    width: 120px;
    height: 50px;
    font-size: 22px;
    border-radius: 10px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    color: white;
}

.header {
    text-align: center;
}
