.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: darkcyan;
}
.welcome-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-decoration: solid;
}

.button-container {
    margin-left: 85%;
    display: flex;
    justify-content: flex-end;
}

.button-container button {
    margin-left: 10px;
}

.nav-link {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.nav-link:hover {
    cursor: pointer;
    opacity: 1;
}