body {
    background-color: white;
}

/* Navbar styling */
.nav-link {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.nav-link:hover {
    cursor: pointer;
    opacity: 1;
}

.navbar {
    padding: 20px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-block {
    background-color: rgb(27, 184, 190);;
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Flipcard Styling */
.flip-card {
    background-color: transparent;
    width: 28%;
    height: 36%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    display: inline-block;
    border-radius: 10px;
  }

  /* Font styling */
  .flip-card-front-text .flip-card-back-text{
    padding-top: 10px;
    font-size: 5.5vh;
  }
  
  .flip-card-front-text {
    font-size: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #p {
    font-size: 3vh;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
  }

  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
  }
  .flip-card-back:hover {
    cursor: pointer;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:rgb(51, 58, 64);
    color: white;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  /*Card Positioning*/
  #centreCard {
    position: absolute;
    left: 50%;
    top: 45vh;
    transform: translate(-50%, 0);
    margin-top: 11%;
  }
  #leftCard {
    position: absolute;
    left: 5%;
    top: 45vh;
    transform: translate(0, 0);
    margin-top: 11%;
  }
  #rightCard {
    position: absolute;
    right: 5%;
    top: 45vh;
    transform: translate(0, 0);
    margin-top: 11%;
  }