.header {
    font-size: 6vh;
    padding-top: 30px;
    text-align: center;
}

.container {
    position:fixed;
    width: 60vw;
    height: 50vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    border: 1px solid;
    border-radius: 10px;
    padding: 2vh 5vw;
}

@media (max-width: 912px) or (max-height: 600px) {
    .container {
        border: none;
    }
    .form-group {
        margin-top: 1vh;
    }
}

.form-control {
    margin-bottom: 1vh;
    
}

.form-group {
    width: 30vw;
    margin-top: 4vh;
}

.btn-primary {
    padding: 1vh 2vw;
    border-radius: 5px;
}