<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/home.css">
        <script src="../static/home.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>
      <!--Navbar Implementations-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand mx-auto" href="#">Mad Libs</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active" onclick="window.location.href='{{ url_for('Signup') }}'">
                <a class="nav-link">Login/Register<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </nav>
        <!--Centre card-->
        <div class="flip-card" id="centreCard">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h1 class ="flip-card-text">Create a MadLib</h1>
            </div>
            <div class="flip-card-back">
              <h1 class ="flip-card-text">How to Create</h1>
              <p class ="flip-card-text" id="p">Write words <br> Leave a blank</p>
            </div>
          </div>
        </div>

        <div class="flip-card" id="leftCard">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h1 class ="flip-card-text">Find a MadLib</h1>
            </div>
            <div class="flip-card-back">
              <h1 class ="flip-card-text">How to add</h1>
              <p class ="flip-card-text" id="p">Fill in the blank <br> Match the description</p>
            </div>
          </div>
        </div>

        <div class="flip-card" id="rightCard">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h1 class ="flip-card-text">Rules</h1>
            </div>
            <div class="flip-card-back">
              <h1 class ="flip-card-text">Rules</h1>
              <p class ="flip-card-text" id="p">Be nice <br> Be creative</p>
            </div>
          </div>
        </div>
    </body>
</html>