<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/rules.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navbar Implementations -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mx-auto" href="#">Mad Libs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" onclick="window.location.href='{{ url_for('home') }}'">Home<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
          <div class="flip-card" id="leftCard">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="container">
                    <h2 class="flip-card-back-text">How to Play Mad libs</h2>
                    <p class ="flip-card-back-text" id="p"><br>Click Here to flip over</p>
                </div>
              </div>
              <div class="flip-card-back" div class="flip-card-back" onclick="this.classList.toggle('flipped');">
                <div class="container">
                    <h2 class="flip-card-back-text">How to Play Mad libs</h2>
                    <p class ="flip-card-back-text" id="p">You will be given a form with multiple submission boxes, each will contain a one word description, for example [name], fill in the boxes then click submit. you can now flip over the card to see your completed madlib!</p>
                    <p class ="flip-card-back-text" id="p">feel free to be as silly as you want</p>
                    <p class ="flip-card-back-text" id="p">to save your madlib take a screenshot</p>
                    <p class ="flip-card-back-text" id="p"><br>Click Here to flip over</p>
                </div>
              </div>
            </div>
          </div>

          <div class="flip-card" id="rightCard">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="container">
                    <h2 class="flip-card-back-text">How to Create a Mad lib</h2>
                    <p class ="flip-card-back-text" id="p"><br>Click Here to flip over</p>
                </div>
              </div>
              <div class="flip-card-back" onclick="this.classList.toggle('flipped');">
                <div class="container">
                    <h2 class="flip-card-back-text"> How to Create a Mad Lib </h2>
                    <p class ="flip-card-back-text" id="p">Create a less then 1000 character prompt, remove between 3 and 10 words and replace them with [description], as shown below, submit!</p>
                    <p class ="flip-card-back-text" id="p">Ensure all prompts are child safe (e.g. no profanity)</p>
                    <p class ="flip-card-back-text" id="p">Example: <br> Many moons ago, [noun] was a simple [job] who lived in the town of [place] he lived a good life until the [evil group] attacked! now he must find the [item] and place it in the [place] to save the world.</p>
                    <p class ="flip-card-back-text" id="p"><br>Click Here to flip over</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
</body>
    <script>
        $(document).ready(function() {
            $('.flip-card').click(function() {
                $(this).toggleClass('flipped');
            });
        });
    </script>
</html>
